

#intro {
   display: none;
   width: 100%;
   height: 100%;
   z-index: 1000000;
   position: absolute;
}
/* menu */

.row .container .logo-header .logo .logo.active{
   height: 70px;
   background: #00962B;
}
.row .container .menu-header .menu .item.active :hover {
   color: #00962B;
}

.introduce .container .contact-icon .Social-Network.active {
   color: #B80000;
}
.introduce .container .contact-icon .Social-Network.active:hover {
   background: #B80000;
   color: #fff;
}
.introduce .container .contact-icon .btn-header .btn-header.active {
   background: #B80000;
}
.introduce .container .contact-icon .btn-header .btn-header.active:hover{
   background: #cf4343;
   
}

.contact-icon .btn-header .btn-header.active::before {
   content: '';
	position: absolute;
	top: -7px;
	left: -3px;
	right: 0;
	height: 23px;
   background: url(../img/noel/snow.png) no-repeat 0 0,
	url(../img/noel/snow2.png) no-repeat 50% 0,
   url(../img/noel/snow3.png) no-repeat 100% 0;
   display: block;
}


#about .container .title .title-about.active::before {
   position: absolute;
   margin-top: 50px;
   content: '';
   background: #B80000;
   width: 84px;
   height: 2px;
}

#skills .container .title .title-skills.active::before {
   position: absolute;
   content: '';
   background: #B80000;
   width: 81px;
   height: 2px;
   margin-top: 50px;
}
.personal-skills.active {
   margin-right: 90px;
   padding: 20px;
   background: #000;
   color: #fff;
   border-radius: 4px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.personal-skills.active::before {
   content: '';
	position: relative;
	top: -7px;
	left: -3px;
	right: 0;
	height: 23px;
   background: url(../img/noel/snow-ice.png) no-repeat 0 0;
   display: block;
}

.name-skills.active {
   font-size: 15px;
   color: #fff;
}

.professional-skills.active {
   margin-left: 90px;
   padding: 20px;
   background: #000;
   border-radius: 4px;
   color: #fff;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.progress .progress-bar.active {
   background: #B80000;
   color: #333;
}

.introduce.active {
   background: url("../img/noel/christmas-background-1920x1080.jpg");
}

.noel-button {
   position: fixed;
   right: 20px;
   bottom: 100px;
   z-index: 5;
   background-image: url(../img/noel/banner-footer.jpg);
   border-radius: 20px;
}

.noel-button .event {
   font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   position: absolute;
   right: 15px;
   bottom: 20px;
}

.noel-button:hover .event {
   visibility: hidden;
}

.noel-button .pop-up-event {
   width: 300px;
   height: 340px;
   text-align: center;
   padding-top: 70px;
   display: none;
   
}

.noel-button .pop-up-event .toggle {
   position: absolute;
   background: #fff;
   border: 2px solid red;
   width: 100px;
   height: 50px;
   cursor: pointer;
   border-radius: 30px;
   transition: 0.5s;
   right: 95px;
   bottom: 40px;
}
.noel-button .pop-up-event .toggle::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 49px;
   height: 47px;
   background: #004d45;
   border-radius: 50%;
   transition: 0.5s;
}

.noel-button .pop-up-event .toggle.active:before {
   left: 46px;
}

.noel-button .pop-up-event .title{
   font-size: 24px;
   font-weight: 700;
   margin-top: 40px;
   text-transform: uppercase;
   color: #fff;
}

.noel-button .pop-up-event .content {
   font-size: 18px;
   font-weight: 700;
   margin-top: 10px;
   text-transform: uppercase;
   color: #fff;
}

.noel-button .pop-up-event .content1 {
   font-size: 14px;
   font-weight: 700;
   margin-top: 45px;
   text-transform: uppercase;
   color: #fff;
}

.noel-button:hover .pop-up-event {
   display: block;
}

.noel-button .event .event-christmas {
   color: #ef2f2c;
   background: #fff;
   border: 2px solid darkgreen;
   padding: 10px 15px;
   border-radius: 4px;
}

.noel-button button {
   display: flex;
   padding: 15px 20px;
}
.background-christmas {
   position: fixed;
   left: 0px;
   bottom: -10px;
   z-index: 10;
   display: none;
}


.background-christmas .tree {
   width: 200px;
   z-index: 9;
   position: relative;
}

.background-christmas .santa{
   position: fixed;
   bottom: 10px;
   right: -500px;
   z-index: 10;
}

.background-christmas .snow-buttom {
   position:fixed;
   z-index: 2;
   bottom:-65px;
   left:0;
   width:100%;
   height:104px;
   background: url(../img/noel/ft.png) repeat-x bottom;
}

.b-page_noel {
   display: none;
}

.b-page_noel .active:before {
   display: block;
}

#hats1{
   position: absolute;
   margin-left: 23px;
   display: none;
}
#hats2 {
   margin: -15px -57px;
   position: absolute;
   transform: rotate(340deg);
   display: none;
}
#hats3 {
   transform: rotate(365deg);
   position: absolute;
   margin: -66px 0px 0px 100px;
   display: none;
}
#hats4 {
   transform: rotate(344deg);
   position: absolute;
   margin: -5px 0 0px 82px;
   z-index: 2;
   display: none;
}


#snowman1 {
   width: 200px;
   right: 0;
   float: right;
   margin-top: -20%;
   display: none;
}

/* #santa {
   display: none;
} */

.container .row .content .btn.active:before{
   content: '';
	position: absolute;
	top: -7px;
	left: -3px;
	right: 0;
	height: 23px;
   background: url(../img/noel/snow.png) no-repeat 0 0,
	url(../img/noel/snow2.png) no-repeat 50% 0,
   url(../img/noel/snow3.png) no-repeat 100% 0;
   display: block;
}



.b-page_noel { margin-bottom: -85px;}
.b-page__content{min-height:160px}
.b-head-decor{display:none}
.b-page_noel .b-head-decor{
   position:absolute;
   top: -10px;
   left:0;
   display:block;
   height:115px;
   width:100%;
   overflow:hidden;
   background:url("../img/noel/b-head-decor_noel.png") repeat-x 0 0;
}
.b-page_noel .b-head-decor__inner{position:absolute;top:0;left:0;height:115px;display:block;width:373px}
.b-page_noel .b-head-decor::before{content:'';display:block;position:absolute;top:-115px;left:0;z-index:3;height:115px;display:block;width:100%;box-shadow:0 15px 30px rgba(0,0,0,0.75)}
.b-page_noel .b-head-decor__inner_n2{left:373px}
.b-page_noel .b-head-decor__inner_n3{left:746px}
.b-page_noel .b-head-decor__inner_n4{left:1119px}
.b-page_noel .b-head-decor__inner_n5{left:1492px}
.b-page_noel .b-head-decor__inner_n6{left:1865px}
.b-page_noel .b-head-decor__inner_n7{left:2238px}

.b-ball{position:absolute}
.b-ball_n1{top:0;left:3px;width:59px;height:83px}
.b-ball_n2{top:-19px;left:51px;width:55px;height:70px}
.b-ball_n3{top:9px;left:88px;width:49px;height:67px}
.b-ball_n4{top:0;left:133px;width:57px;height:102px}
.b-ball_n5{top:0;left:166px;width:49px;height:57px}
.b-ball_n6{top:6px;left:200px;width:54px;height:70px}
.b-ball_n7{top:0;left:240px;width:56px;height:67px}
.b-ball_n8{top:0;left:283px;width:54px;height:53px}
.b-ball_n9{top:10px;left:321px;width:49px;height:66px}
.b-ball_n1 .b-ball__i{background:url("../img/noel/ball.png") no-repeat}
.b-ball_n2 .b-ball__i{background:url("../img/noel/ball2.png") no-repeat}
.b-ball_n3 .b-ball__i{background:url("../img/noel/ball3.png") no-repeat}
.b-ball_n4 .b-ball__i{background:url("../img/noel/b-ball_n5.png") no-repeat}
.b-ball_n5 .b-ball__i{background:url("../img/noel/unnamed.png") no-repeat}
.b-ball_n6 .b-ball__i{background:url("../img/noel/ball3.png") no-repeat}
.b-ball_n7 .b-ball__i{background:url("../img/noel/b-ball_n7.png") no-repeat}
.b-ball_n8 .b-ball__i{background:url("../img/noel/b-ball_n8.png") no-repeat}
.b-ball_n9 .b-ball__i{background:url("../img/noel/sock.png") no-repeat}
.b-ball_i1 .b-ball__i{background:url("../img/noel/b-ball_i1.png") no-repeat}
.b-ball_i2 .b-ball__i{background:url("../img/noel/b-ball_i2.png") no-repeat}
.b-ball_i3 .b-ball__i{background:url("../img/noel/b-ball_i3.png") no-repeat}
.b-ball_i4 .b-ball__i{background:url("../img/noel/b-ball_i4.png") no-repeat}
.b-ball_i5 .b-ball__i{background:url("../img/noel/b-ball_i5.png") no-repeat}
.b-ball_i6 .b-ball__i{background:url("../img/noel/b-ball_i6.png") no-repeat}
.b-ball_i1{top:0;left:0;width:25px;height:71px}
.b-ball_i2{top:0;left:25px;width:61px;height:27px}
.b-ball_i3{top:0;left:176px;width:29px;height:31px}
.b-ball_i4{top:0;left:205px;width:50px;height:51px}
.b-ball_i5{top:0;left:289px;width:78px;height:28px}
.b-ball_i6{top:0;left:367px;width:6px;height:69px}
.b-ball__i{
position:absolute;
width:100%;
height:100%;
-webkit-transform-origin:50% 0;
-moz-transform-origin:50% 0;
-o-transform-origin:50% 0;
transform-origin:50% 0;
-webkit-transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
pointer-events:none
}
.b-ball_bounce .b-ball__right{position:absolute;top:0;right:0;left:50%;bottom:0;z-index:9}
.b-ball_bounce:hover .b-ball__right{display:none}
.b-ball_bounce .b-ball__right:hover{left:0;display:block!important}
.b-ball_bounce.bounce>.b-ball__i{-webkit-transform:rotate(-9deg);-moz-transform:rotate(-9deg);-o-transform:rotate(-9deg);transform:rotate(-9deg)}
.b-ball_bounce .b-ball__right.bounce+.b-ball__i{-webkit-transform:rotate(9deg);-moz-transform:rotate(9deg);-o-transform:rotate(9deg);transform:rotate(9deg)}
.b-ball_bounce.bounce1>.b-ball__i{-webkit-transform:rotate(6deg);-moz-transform:rotate(6deg);-o-transform:rotate(6deg);transform:rotate(6deg)}
.b-ball_bounce .b-ball__right.bounce1+.b-ball__i{-webkit-transform:rotate(-6deg);-moz-transform:rotate(-6deg);-o-transform:rotate(-6deg);transform:rotate(-6deg)}
.b-ball_bounce.bounce2>.b-ball__i{-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-o-transform:rotate(-3deg);transform:rotate(-3deg)}
.b-ball_bounce .b-ball__right.bounce2+.b-ball__i{-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);transform:rotate(3deg)}
.b-ball_bounce.bounce3>.b-ball__i{-webkit-transform:rotate(1.5deg);-moz-transform:rotate(1.5deg);-o-transform:rotate(1.5deg);transform:rotate(1.5deg)}
.b-ball_bounce .b-ball__right.bounce3+.b-ball__i{-webkit-transform:rotate(-1.5deg);-moz-transform:rotate(-1.5deg);-o-transform:rotate(-1.5deg);transform:rotate(-1.5deg)}
@media (max-width: 960px) {
.b-page_newyear { margin-bottom: -85px; }
}


/* Tuyet roi */


header .row {
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.snowflakes {
   display: none;
}

.snowflakes .active:before {
   display: inline;
}

.snowflakes img {
   bottom: 0;
}

.introduce .container {
   margin-top: 100px;
}

.snowflake {
   color: #fff;
   font-size: 1em;
   font-family: Arial, sans-serif;
   text-shadow: 0 0 5px #000;
 }
 @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
 @-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}
 @keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
 @keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}
 .snowflake{
       position:fixed;top:-10%;z-index:9999;
       -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;
       user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;
       -webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;
       -webkit-animation-iteration-count:infinite,infinite;
       -webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;
       animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;
       animation-play-state:running,running}
 .snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
 .snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
 .snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
 .snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
 .snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
 .snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
 .snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
 .snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
 .snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
 .snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
 .snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}
 .snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}