@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light|Source+Sans+Pro:400,700");
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-size: 38px;
    font-family: "Source Sans Pro", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: 400;
    width: 80%;
    margin: 20px auto auto;
    color: #000;
    z-index: 1;
}

h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    margin: 0 0 30px;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    background: #fff;
    font-size: 14px;
    color: #333;

}

/* Phần header */



header .row {
    margin: auto;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: 0.6s;
    padding: 30px 100px;
}

header .row.sticky {
    padding: 5px 100px;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.row .container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.row .container .logo-header .logo img {
    height: 70px;
    background: #00b4d9;
   
}

.row .container .logo-header a {
    color: #fff;
    font-weight: 700;
    font-size: 3em;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.6s;
    font-family: 'Black Ops One', cursive;

}

header .row.sticky .logo-header a {
    color: #00b4d9;
}

.row .container .menu-header .menu {
   display: flex;
   flex-direction: row;

}

.row .container .menu-header .menu .item {
    padding: 0 10px;
    
}

.row .container .menu-header .menu .item a {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 10px;
    transition: 0.6s;
}

header .row.sticky .container .menu-header .menu .item a{
    color: #000
}

.row .container .menu-header .menu .item :hover {
    color: #00b4d9;
}

.row.sticky .container .menu-header .menu .item :hover {
    color: #00b4d9;
}



.introduce {
    background: url("../img/header.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding: 125px 0 150px;
    z-index: 4;
}

/* .introduce::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
} */

.introduce .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #0c0808;
    opacity: 0.6;

}

.introduce .container {
    text-align: center;
    position: relative;
}

.introduce .container .contents {
    
    text-align: center;
    letter-spacing: 2px;
    padding-top: 50px;
    color: #fff;

}

.introduce .container .contents h5 {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
}

.introduce .container .contents h2 {
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.introduce .container .contents p {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.introduce .container .contact-icon ul li {
    display: inline-block;
    padding: 0 20px;
    
}

.introduce .container .contact-icon .Social-Network {
    background:#fff;
    height: 35px;
    width: 35px;
    line-height: 36px;
    color: #00b4d9;
    display: block;
    text-align: center;
    border-radius: 100%;
    font-size: 16px;
    margin: 30px 0;
}

.introduce .container .contact-icon .Social-Network:hover {
    background: #00b4d9;
    color: #fff;
}


.introduce .container .contact-icon .btn-header .btn-header {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 25px;
    background: #00b4d9;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: 2px;
    position: relative;
}

.introduce .container .contact-icon .btn-header .btn-header:hover {
    background: #46d6f3;
}

/* phần about */

#about{
    padding-bottom: 50px;
}

#about .container {
    margin: 40px 200px 20px;
}

#about .container .title h1{
    text-transform: uppercase;
    font-weight: 400;
    width: 80%;
    color: #000;
    margin: 50px auto auto;
}
#about .container .title .title-about::before {
    position: absolute;
    margin-top: 50px;
    content: '';
    background: #00b4d9;
    width: 84px;
    height: 2px;
}

#about .container .row .photo {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

#about .container .row .photo img{
    height: 550px;

}


.container .row .content  {
    margin: 0 90px;
    font-weight: 400;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
}

.container .row .content .profile {
    margin-bottom: 20px;
}

.container .row .content .profile p {
    line-height: 25px;
    margin-top: 10px;
}

.content .basic-information {
    margin-bottom: 25px;
}
.content .basic-information .pro-title {
    font-weight: 700;
    color: #040404;
    position: relative;
    display: inline-block;
    width: 120px;
    margin-bottom: 15px;
}

.content .basic-information .pro-title::after {
    position: absolute;
    content: ':';
    color: black;
    font-size: 15px;
    left: 80px;
}

.container .row .content .btn {
    background: #d62234;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
}

.container .row .content .btn:hover {
    background: #ec6876;
}

.container .row .content .btn i {
    margin-right: 10px;
}

#about .container .row {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/* phần Skills */

#skills {
    background: #F0F0F0;
}

#skills .container {
    padding: 40px 200px;
}


#skills .container .title h1::before {
    position: absolute;
    content: '';
    background: #00b4d9;
    width: 81px;
    height: 2px;
    margin-top: 50px;
}

#skills .container .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}

ul li .percent {
    float: right;
}


.row .personal-skills {
    margin-right: 90px;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.row .personal-skills:hover {
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
    transition: all 1s;
}

.row .professional-skills {
    margin-left: 90px;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.row .professional-skills:hover {
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
    transition: all 1s;
}

.progress {
    height: 4px;
    margin: 10px 0px 20px;
    overflow: hidden;
    background-color: #E0E0E0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

 .progress .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 1px;
    text-align: center;
    background: #00b4d9;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.name-skills {
    font-size: 15px;
    color: #333;
}

/* Phan Resume */

#resume .container {
    padding: 40px 200px;
}

 .container .title h1::before {
    position: absolute;
    content: '';
    background: #00b4d9;
    width: 67px;
    height: 2px;
    margin-top: 50px;
}

#resume .container .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}

.container .row .timeline li {
    padding:  0 20px 20px 30px;
    list-style: none;
    border-left: 2px solid #f1f1f1;
}

.container .row .timeline li::before {
    content: "";
    border: solid 2px;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    margin-left: -37px;
    font-weight: 400;
    background: #fff;
    position: absolute;
    margin-top: 20px;
    border-color: #00b4d9;
}

.container .row .timeline i {
    font-size: 20px;
    float: left;
    background: #00b4d9;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    margin: -15px -55px;
    position: relative;
}

.container .row .timeline h2 {
    font-size: 20px;
    margin-left: 25px;
    text-transform: uppercase;
}


.container .row .education {
    padding: 20px;
}

.container .row .experience {
    padding: 20px;
}

.education .content-text {
    background: #f2f2f2;
    padding: 20px;
}

.education .content-text h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 6px;
    margin:0;
}

.education .content-text span {
    padding: 15px 0 10px;
    display: block;
}

.experience .content-text {
    background: #f2f2f2;
    padding: 20px;
}

.experience .content-text h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 6px;
    margin: 0;
}

.experience .content-text span {
    padding: 15px 0 10px;
    display: block;
}

/* Phan work */

#work {
    background: #f0f0f0;
}

#work .container {
    padding: 40px 200px;
}

#work .container h1::before {
    position: absolute;
    content: "";
    background: #00b4d9;
    width: 49.25px;
    height: 2px;
    margin-top: 50px;
}

#work .container .row-work {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
}

#work .container .row-work .item {
    background: #fff;
    margin: 20px 20px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#work .container .row-work .item:hover {
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
    transition: all 1s;
}

.container .row-work .item .content-icon i{
    font-size: 50px;
    color: #00b4d9;
    margin: 20px auto;
}

.row-work .item .content-text {
    margin: 20px auto;
}

.row-work .item .content-text h3{
    font-size: 16px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.row-work .item .content-text p {
    margin: 15px 0 20px;
    line-height: 22px;
}

/* Phan Blog */

#blog .container {
    margin: 40px 200px;
}

#blog .container .title h1::before{
    position: absolute;
    content: "";
    background: #00b4d9;
    width: 111.30px;
    height: 2px;
    margin-top: 50px;
}

#blog .container .row {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 50px;
}

#blog .container .row .item {
    box-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    text-align: left;
    margin: 10px;
}

.row .item .post {
    width: 100%;
    float: left;
    height: auto;
}

.item .post:hover {
    border-bottom: 3px solid #00b4d9 ;
}

@keyframes animationPost {
    from {top: 140px}
    
}

.row .item .post:hover .photo .post-overlay {
    opacity: 1;
}

.row .item .post .photo img {
    transition: all 1s ease;
    width: 100%;
}

.row .item .post:hover .photo img {
    transform: scale(1.1);

}

.row .item .post:hover .photo .post-overlay .fa {
    animation: animationPost 1s ease;
    opacity: 1;
}

.row .item .post .photo {
    width: 100%;
    float: left;
    height: auto;
    position: relative;
    overflow: hidden;
}


.row .item .post .photo .post-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    background: rgba(0,0,0,0.4);
    line-height: 100%;
    transition: all 1s ease;
    opacity: 0;
}

.post .photo a {
    overflow: hidden;
}

.post .photo .post-overlay .fa {
    position: absolute;
    margin-left: -24px;
    margin-top: -24px;
    top: 50%;
    height: 42px;
    background: #fff;
    left: 50%;
    color: #1cb9c8;
    font-size: 20px;
    width: 42px;
    line-height: 42px;
    transition: all 1s ease;
    border-radius: 50%;
    opacity: 0;
}

.item .post .post-bottom {
    background: #f2f2f2;
    float: left;
    height: auto;
    padding: 20px 20px;
    position: relative;
    width: 100%;
}

.item .post .post-bottom h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.item .post .post-bottom ul {
    display: flex;
    flex-direction: row;
}

.item .post .post-bottom ul li {
    margin: 10px 20px 10px 0;
}

#blog .container .row_2 .pagination-container {
    text-align: center;
    margin-top: 20px;
}
.pagination-container ul {
    display: inline-block;
}

.pagination-container li {
    display: inline;
}

.pagination-container a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination-container a.active {
    background-color: #00b4d9;
}

.pagination-container a:hover:not(.active) {
    background-color: #ddd;
}

/* phan contact */

#contact .container {
    margin: 40px 200px;
}

#contact .container .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

#contact .container .row .contact-form {
    margin: 60px 40px;
}


#contact .container .row  h2 {
    font-size: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #6c757d;
}


.container .row .contact-form input {
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
}

.container .row .contact-form textarea {
    width: 100%;
    padding: 10px 0 0 10px;
    border: 1px solid #e1e1e1;
    margin-bottom: 40px;
}

.container .row .contact-form .btn .btn-send {
    background-color: #00b4d9;
    padding: 15px 40px;
    border-radius: 4px;
    /* border: none; */
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.container .row .contact-form .btn a:hover {
    background-color: #46d6f3;
}

#contact .container .row .contact-address {
    margin: 60px 40px;
}

#contact .container .row .contact-address .content-address {
    border: 1px solid #e1e1e1;
}

.row .contact-address .content-address .item {
    margin: 40px 20px
}

.row .contact-address .content-address .item i {
    width: 42px;
    height: 42px;
    background: #00b4d9;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    margin-right: 15px;
}

.to-top {
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #00b4d9;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

html {
    scroll-behavior: smooth;
}


/* mobile bar */
header .row .container .menu-bars-btn {
    width: 28px;
    height: 28px;
    color: #333;
    display: none;
}

header .row .container .menu-bars-btn .far {
    font-size: 30px;
}

header .row .container .bars-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

header .row .container .menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}

header .row .container .menu-mobile .menu-item-mobile {
    margin-top: 30px;
}

header .row .container .menu-mobile .menu-item-mobile .item-mobile {
    text-transform: uppercase;
    color: #333;
    text-align: center;
    margin: 20px auto;
    font-weight: 700;
}

header .row .container .menu-mobile .menu-mobile-close {
    margin: 20px 20px;
    font-size: 25px;
    position: absolute;
}
header .row .container .menu-input:checked ~ .bars-overlay {
    display: block;
}

header .row .container .menu-input:checked ~ .menu-mobile {
    transform: translateX(0);
    opacity: 1;
}


@media (max-width: 1030px) {
    header .row .container .menu-bars-btn {
        display: block;
    }
    header .row .container .menu-header {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}